/.venv
/get_recordings.py
/transcript_IT Clinic  การใช AI เพอบนทกการประชม และการปรบ Agen_ktVizIDG.vtt
/transcript_Meeting  AI Team ครงท 3_ktVizInG.vtt
/transcript_Pre - อพเดต AI Transformation Slide _ktVizInG.vtt
/transcript_เตรยม Kick off AI Roadmap_ktVizInG.vtt
/transcript_แผนการเตรยมงานและ budget งาน Trust inno_ktVizInG.vtt